In [52]:
import plotly.io as pio
#pio.renderers.default = "plotly_mimetype"
#pio.renderers.default = "kaggle"
#pio.renderers.default = "browser"
import pandas as pd
import time 
import json
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np
from helps import *

stocks = pd.read_excel('D:/UNESP/Finance/outputs.xlsx', index_col=0)
stocks = stocks[(stocks['VOLUME (dia)'] >=1e6) & (stocks['P/L']>0) & (stocks['P/L']<100)]

stocks = stocks.drop(columns=['Valor atual', 'Min. 52 semanas',
       'Máx. 52 semanas', 'Valorização (12m)', 'TOMADOR (média)',
       'DOADOR (média)', 'Nº DE AÇÕES ALUGADAS (dia)',
       'Nº DE CONTRATOS', 'Unnamed: 14', 'Ano passado', 'Ano atual',
       'Provisionado', 'Ativos', 'Ativo circulante', 'Dívida bruta',
       'Disponibilidade', 'Dívida líquida', 'Valor de mercado',
       'Valor de firma', 'Segmento de listagem', 'Free Float','Liq. corrente', 'M. Bruta',
       'M. EBITDA', 'M. EBIT', 'M. Líquida', 'Giro ativos', 'UNIT - Composição', 'EV/EBITDA',
       'EV/EBIT', 'P/EBITDA', 'P/EBIT', 'VPA', 'P/Ativo', 'P/SR',
       'P/Cap. Giro', 'P/Ativo Circ. Liq.', 'Dív. líquida/PL',
       'Dív. líquida/EBITDA', 'VOLUME (dia)', 'PL/Ativos',	'Dív. líquida/EBIT','Passivos/Ativos'])

#df['Subsetor de Atuação'].unique()
df = compare_df(stocks)
group = df.groupby(by='Subsetor de Atuação')
pd.DataFrame(group['Ativo'].count())

                                      Ativo
Subsetor de Atuação
Agropecuária                              2
Alimentos Processados                     6
Automóveis e Motocicletas                 2
Bebidas                                   1
Computadores e Equipamentos               2
Comércio                                 11
Comércio e Distribuição                   8
Construção Civil                         10
Construção e Engenharia                   1
Diversos                                  6
Energia Elétrica                         17
Exploração de Imóveis                     4
Holdings Diversificadas                   1
Hoteis e Restaurantes                     1
Intermediários Financeiros               11
Madeira e Papel                           3
Material de Transporte                    2
Mineração                                 5
Máquinas e Equipamentos                   4
Petróleo Gás e Biocombustíveis            8
Previdência e Seguros                     4
Produtos de Uso Pessoal e de Limpeza      2
Programas e Serviços                      4
Químicos                                  2
ServMédHospitAnálises e Diagnósticos      5
Serviços Financeiros Diversos             3
Siderurgia e Metalurgia                   6
Tecidos Vestuário e Calçados              3
Telecomunicações                          3
Transporte                               10
Viagens e Lazer                           2
Água e Saneamento                         6

In [88]:
setor='Intermediários Financeiros'
group = df.groupby(by='Subsetor de Atuação')
lista_sort = group.get_group(setor).sort_values(by=['P/L'], ascending=False)
lista_sort

,Ativo,Subsetor de Atuação,D.Y,P/L,P/VP,LPA,ROE,ROA,ROIC
0,BRSR6,Intermediários Financeiros,-1.226654,0.482230,0.626731,0.158869,0.314142,0.694758,1.0
0,BBAS3,Intermediários Financeiros,-0.416775,0.435064,0.360111,-2.157123,-0.071653,0.566632,1.0
0,ITSA4,Intermediários Financeiros,-0.152283,0.363792,0.032548,0.404679,-0.446386,-5.014388,-10.0
0,BBDC3,Intermediários Financeiros,0.233178,0.258980,0.162050,0.124302,-0.073727,0.472422,1.0
0,SANB11,Intermediários Financeiros,-0.736626,0.196093,0.192521,-0.528631,0.042426,0.419664,1.0
0,ITUB3,Intermediários Financeiros,0.468966,0.126918,-0.081717,-0.048534,-0.177436,0.532717,1.0
0,BBDC4,Intermediários Financeiros,0.302889,0.103859,-0.013158,0.124302,-0.073727,0.472422,1.0
0,ITUB4,Intermediários Financeiros,0.548928,-0.025060,-0.272161,-0.048534,-0.177436,0.532717,1.0
0,BPAN4,Intermediários Financeiros,0.341845,-0.421248,-0.058864,0.784916,0.292709,0.487496,1.0
0,BPAC11,Intermediários Financeiros,0.583784,-0.635064,-0.835873,0.358589,-0.069579,0.370675,1.0
0,MODL11,Intermediários Financeiros,0.052749,-0.885565,-0.112188,0.827165,0.440666,0.464885,1.0

In [109]:
df_sorted = pd.DataFrame()
for setor in df['Subsetor de Atuação'].unique():
    group = df.groupby(by='Subsetor de Atuação')

    lista_sort = group.get_group(setor).sort_values(by=['P/VP'], ascending=False)[:5]
    df_sorted = df_sorted.append(lista_sort)

df_sorted = df_sorted.reset_index(drop=True)
#df_sorted[df_sorted['Subsetor de Atuação']=='Máquinas e Equipamentos']
df_sorted

,Ativo,Subsetor de Atuação,D.Y,P/L,P/VP,LPA,ROE,ROA,ROIC
0,AALR3,ServMédHospitAnálises e Diagnósticos,1.000000,-1.084917,0.301075,0.619718,0.782609,0.671495,0.678648
1,MATD3,ServMédHospitAnálises e Diagnósticos,0.589271,0.238316,0.297715,0.521127,0.402369,0.280911,0.199000
2,QUAL3,ServMédHospitAnálises e Diagnósticos,0.073764,0.717688,0.176747,-0.619718,-0.887954,-0.911536,-0.581766
3,FLRY3,ServMédHospitAnálises e Diagnósticos,-1.078793,0.584079,0.045699,-0.535211,-0.486676,-0.332126,-0.325875
4,RDOR3,ServMédHospitAnálises e Diagnósticos,-0.584241,-0.455165,-0.821237,0.014085,0.189652,0.291257,0.029993
...,...,...,...,...,...,...,...,...,...
106,ROMI3,Máquinas e Equipamentos,-0.519956,0.736218,0.772410,-0.152332,0.386483,0.313896,0.445105
107,TASA4,Máquinas e Equipamentos,-0.878622,0.821191,0.467525,-1.288083,-1.112346,-1.114237,-1.113091
108,VAMO3,Máquinas e Equipamentos,0.731001,-0.651505,-0.165862,0.788601,0.498830,0.734015,0.601760
109,WEGE3,Máquinas e Equipamentos,0.667578,-0.905904,-1.074074,0.651813,0.227033,0.066326,0.066227
110,SIMH3,Holdings Diversificadas,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Análise manual - Ativo e seu Subsetor

In [72]:
pd.DataFrame(stocks.groupby(by='Subsetor de Atuação').get_group('Mineração').mean()).T

C:\Users\arthu\AppData\Local\Temp/ipykernel_12596/1991762663.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pd.DataFrame(stocks.groupby(by='Subsetor de Atuação').get_group('Mineração').mean()).T

      D.Y    P/L   P/VP    LPA     ROE     ROA    ROIC
0  20.616  3.368  1.384  11.08  53.342  41.698  46.298

In [70]:
stocks[stocks.Ativo=='VALE3']

,Ativo,Setor de Atuação,Subsetor de Atuação,Segmento de Atuação,,D.Y,P/L,P/VP,LPA,ROE,ROA,ROIC
456,VALE3,Materiais Básicos,Mineração,Minerais Metálicos,,22.13,3.23,1.8,21.69,55.74,23.46,34.13

# Média dos parâmetros por setor

In [ ]:
df = stocks.groupby(by='Subsetor de Atuação')
res = df[['P/VP', 'P/L', 'D.Y', 'LPA', 'ROE']].mean()
res.sort_values(by=['P/L'])