In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.optimize import curve_fit

#Import de dados - Experimento
df = pd.read_excel('D:/UNESP/EngMec-UNESP/Lab. Mec Flu I/Relatório_5/dados.xlsx')
df_carr = df.iloc[0:8] # carregamento
df_des = df.iloc[8::]  # Descarregamento

In [25]:
df_carr

     vol     t  rot
0  1.920  5.91  0.8
1  1.985  4.89  1.0
2  1.730  3.63  1.2
3  1.680  3.15  1.4
4  2.100  3.82  1.6
5  1.650  2.95  1.8
6  2.080  3.52  2.0
7  1.570  2.57  2.2

In [26]:
df_des

     vol     t  rot
8   1.88  3.08  2.0
9   1.19  1.94  1.8
10  1.97  3.34  1.6
11  1.32  2.92  1.4
12  1.65  3.37  1.2
13  1.84  4.28  1.0
14  1.44  4.44  0.8

In [31]:
%matplotlib qt

A = 3.6 # L/s to m^3/h

fig, ax = plt.subplots()
ax.set(xlabel=r'Rotâmetro $[m^3/h]$', ylabel=r'Vazão medida $[m^3/h]$')

ax.plot(df_carr['rot'], (df_carr['vol']/df_carr['t'])*A, label='Carregamento', marker='o')
ax.plot(df_des['rot'], (df_des['vol']/df_des['t'])*A, label='Descarregamento',marker='o')

ax.grid(ls='dotted')
ax.legend()